/**
 * Primary Color
 */
$violet: #5964E0;
$light-violet: #939BF4;
$very-dark-blue: #19202D;
$midnight: #121721;

/**
 * Secondary Color
 */
$white: #fff;
$light-gray: #F4F6F8;
$gray: #9DAEC2;
$dark-gray: #6E8098;